<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dms.dao.ChangeRoomMapper" >
  <resultMap id="changeRoomMap" type="com.dms.entity.ChangeRoom" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="stu_id" property="stuId" jdbcType="INTEGER" />
    <result column="reasion" property="reasion" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP" />
    <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="audit_opinion" property="auditOpinion" jdbcType="VARCHAR" />
    <result column="target_room" property="targetRoom" jdbcType="VARCHAR" />
    <result column="audit_man" property="auditMan" jdbcType="VARCHAR" />
    <association property="stu" resultMap="com.dms.dao.UserMapper.userMap"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, stu_id, reasion, remark, apply_time, audit_time, status, audit_opinion, target_room,audit_man
  </sql>
  <select id="selectByPrimaryKey" resultMap="changeRoomMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tab_change_room
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectAllChangeRooms" resultMap="changeRoomMap" parameterType="com.dms.entity.ChangeRoom">
  	select 
    c.id, c.stu_id, c.reasion, c.remark, c.apply_time, c.audit_time, c.status, c.audit_opinion, c.target_room,c.audit_man,
   	u.name,u.stu_class,u.stu_no,
   	r.room_sn
    from tab_change_room c,tab_user u,tab_room r
    where c.stu_id = u.user_id and u.room_id = r.room_id
	<if test="status != null and status !=''">  
        and status like CONCAT('%',#{status},'%')
    </if> 
    order by id desc
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tab_change_room
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dms.entity.ChangeRoom" >
    insert into tab_change_room (id, stu_id, reasion, 
      remark, apply_time, audit_time, 
      status, audit_opinion, target_room,audit_man
      )
    values (#{id,jdbcType=INTEGER}, #{stuId,jdbcType=INTEGER}, #{reasion,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{applyTime,jdbcType=TIMESTAMP}, #{auditTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR}, #{auditOpinion,jdbcType=VARCHAR}, #{targetRoom,jdbcType=VARCHAR},#{auditMan}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dms.entity.ChangeRoom" >
    insert into tab_change_room
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="stuId != null" >
        stu_id,
      </if>
      <if test="reasion != null" >
        reasion,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="applyTime != null" >
        apply_time,
      </if>
      <if test="auditTime != null" >
        audit_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="auditOpinion != null" >
        audit_opinion,
      </if>
      <if test="targetRoom != null" >
        target_room,
      </if>
       <if test="auditMan != null" >
        audit_man,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stuId != null" >
        #{stuId,jdbcType=INTEGER},
      </if>
      <if test="reasion != null" >
        #{reasion,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null" >
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditTime != null" >
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="auditOpinion != null" >
        #{auditOpinion,jdbcType=VARCHAR},
      </if>
      <if test="targetRoom != null" >
        #{targetRoom,jdbcType=VARCHAR},
      </if>
       <if test="auditMan != null" >
        auditMan,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dms.entity.ChangeRoom" >
    update tab_change_room
    <set >
      <if test="stuId != null" >
        stu_id = #{stuId,jdbcType=INTEGER},
      </if>
      <if test="reasion != null" >
        reasion = #{reasion,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null" >
        apply_time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditTime != null" >
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="auditOpinion != null" >
        audit_opinion = #{auditOpinion,jdbcType=VARCHAR},
      </if>
      <if test="targetRoom != null" >
        target_room = #{targetRoom,jdbcType=VARCHAR},
      </if>
      <if test="auditMan != null" >
        audit_man = #{auditMan,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dms.entity.ChangeRoom" >
    update tab_change_room
    set stu_id = #{stuId,jdbcType=INTEGER},
      reasion = #{reasion,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      apply_time = #{applyTime,jdbcType=TIMESTAMP},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      audit_opinion = #{auditOpinion,jdbcType=VARCHAR},
      target_room = #{targetRoom,jdbcType=VARCHAR}
      audit_man=#{auditMan}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>