<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dms.dao.UserMapper" >
  <resultMap id="userMap" type="com.dms.entity.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="stu_no" property="stuNo" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="stu_grade" property="stuGrade" jdbcType="VARCHAR" />
    <result column="stu_class" property="stuClass" jdbcType="VARCHAR" />
    <result column="dorm_id" property="dormId" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="stu_img" property="stuImg" jdbcType="VARCHAR" />
    <result column="area_id" property="areaId" jdbcType="INTEGER" />
    <result column="building_id" property="buildingId" jdbcType="INTEGER" />
    <result column="room_id" property="roomId" jdbcType="INTEGER" />
    <result column="is_alloted" property="isAlloted" jdbcType="VARCHAR" />
    <association property="room" resultMap="com.dms.dao.RoomMapper.RoomMap"/>
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, stu_no, name, gender, age, stu_grade, stu_class, dorm_id, role_id, username, 
    password, stu_img, area_id, building_id, room_id, is_alloted
  </sql>
  <select id="selectByPrimaryKey" resultMap="userMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tab_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  
  <select id="selectForLogin" resultMap="userMap" parameterType="java.lang.String">
  	select 
    <include refid="Base_Column_List" />
    from tab_user
    where username = #{username} and password= #{password}
  </select>
  
  <select id="selectAllUsers" resultMap="userMap" parameterType="com.dms.entity.User">
  	select u.user_id, u.stu_no, u.name, u.gender, u.age, u.stu_grade, u.stu_class, u.dorm_id, u.role_id, u.username, 
           u.password, u.stu_img, u.area_id, u.building_id, u.room_id, u.is_alloted,r.room_sn,a.area_name
    from tab_user u,tab_room r,tab_building b,tab_area a
	where  u.room_id = r.room_id  and r.building_id = b.building_id and b.area_id = a.id
    <if test="name != null and name !=''">  
        and name like CONCAT('%',#{name},'%')
    </if> 
    <if test="roleId != null and roleId !=''">  
        and role_id = #{roleId}
    </if> 
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tab_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dms.entity.User" >
    insert into tab_user (user_id, stu_no, name, 
      gender, age, stu_grade, 
      stu_class, dorm_id, role_id, 
      username, password, stu_img, 
      area_id, building_id, room_id, 
      is_alloted)
    values (#{userId,jdbcType=INTEGER}, #{stuNo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{gender,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{stuGrade,jdbcType=VARCHAR}, 
      #{stuClass,jdbcType=VARCHAR}, #{dormId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, 
      #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{stuImg,jdbcType=VARCHAR}, 
      #{areaId,jdbcType=INTEGER}, #{buildingId,jdbcType=INTEGER}, #{roomId,jdbcType=INTEGER}, 
      #{isAlloted,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dms.entity.User" >
    insert into tab_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="stuNo != null" >
        stu_no,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="stuGrade != null" >
        stu_grade,
      </if>
      <if test="stuClass != null" >
        stu_class,
      </if>
      <if test="dormId != null" >
        dorm_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="stuImg != null" >
        stu_img,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="buildingId != null" >
        building_id,
      </if>
      <if test="roomId != null" >
        room_id,
      </if>
      <if test="isAlloted != null" >
        is_alloted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="stuNo != null" >
        #{stuNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="stuGrade != null" >
        #{stuGrade,jdbcType=VARCHAR},
      </if>
      <if test="stuClass != null" >
        #{stuClass,jdbcType=VARCHAR},
      </if>
      <if test="dormId != null" >
        #{dormId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="stuImg != null" >
        #{stuImg,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="buildingId != null" >
        #{buildingId,jdbcType=INTEGER},
      </if>
      <if test="roomId != null" >
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="isAlloted != null" >
        #{isAlloted,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dms.entity.User" >
    update tab_user
    <set >
      <if test="stuNo != null" >
        stu_no = #{stuNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="stuGrade != null" >
        stu_grade = #{stuGrade,jdbcType=VARCHAR},
      </if>
      <if test="stuClass != null" >
        stu_class = #{stuClass,jdbcType=VARCHAR},
      </if>
      <if test="dormId != null" >
        dorm_id = #{dormId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="stuImg != null" >
        stu_img = #{stuImg,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="buildingId != null" >
        building_id = #{buildingId,jdbcType=INTEGER},
      </if>
      <if test="roomId != null" >
        room_id = #{roomId,jdbcType=INTEGER},
      </if>
      <if test="isAlloted != null" >
        is_alloted = #{isAlloted,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dms.entity.User" >
    update tab_user
    set stu_no = #{stuNo,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      stu_grade = #{stuGrade,jdbcType=VARCHAR},
      stu_class = #{stuClass,jdbcType=VARCHAR},
      dorm_id = #{dormId,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      stu_img = #{stuImg,jdbcType=VARCHAR},
      area_id = #{areaId,jdbcType=INTEGER},
      building_id = #{buildingId,jdbcType=INTEGER},
      room_id = #{roomId,jdbcType=INTEGER},
      is_alloted = #{isAlloted,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>